{% extends 'base.html.twig' %}

{% block title %}Slide{% endblock %}

{% block body %}

<!-- ICI LE SLIDE DE LA PAGE D'ACCUEIL -->

<div class="row">
    {% for slide in slides %}
    <tr>
        <td>{{ slide.id }}</td>
        <td>{{ slide.imageName }}</td>
        <td>
            <img src="{{ path('slide_show', {'id': slide.id}) }}" />
        </td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">no records found</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>
</div>
{% endblock %}