{% extends 'base.html.twig' %}

{% block title %}Slide{% endblock %}

{% block body %}

<!-- ICI LE SLIDE DE LA PAGE D'ACCUEIL -->

<div class="container">
    <div class="row">
        {% for slide in slides %}
        <div class="col-4" ><img class="img-thumbnail img-responsive" style="max-height: 200px; margin-top:200px;" src="{{asset('images/products/' ~slide.imageName )}}" /></div>
        {% else %}
        <tr>
            <td colspan="3">Aucune image n'est disponible</td>
            <a class="btn btn-success" href="{{ path('slide_new') }}">Ajouter une image</a>

        </tr>
        {% endfor %}
    </div>
</div>

{% endblock %}